@import "../common.css";
@import "../ResizeWidget.css";
@import "./AlignWidget.css";

#img-scaler-overlay {
    position: fixed; /* Stays in place relative to the viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); /* Semi-transparent black background */
    display: flex; /* Use flexbox to center its child */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    z-index: 1000; /* Ensure it's on top of other content */
}

.img-scaler-modal {
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    padding: 0;
    width: 80vh;
    height: 90vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    background: var(--light);
}

.dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1.5rem;
    border-bottom: 1px solid var(--border-color);
    background: var(--gray);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.close-btn, .close-btn:hover{
    background: none;
    border: none;

    font-size: 1.5rem;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 0.75rem;

    cursor: pointer;
    color: var(--dark);

    width: 30px;
    height: 30px;
    margin:1rem;
}

.image-preview-section {
    /* padding: 1.5rem; */
    display: flex; 
    justify-content: center;
    align-items: center;

    min-height: 200px;
    flex: 1 0 0;
}

.preview-image {
    max-width: 1000px;
    max-height: 500px;
    display: block;
    border: 1px solid var(--border-color);
}

.image-info {
    display: flex;
    gap: 2rem;
    padding: 0.5rem 1.5rem;
    background-color: var(--gray);
    border-bottom: 1px solid var(--border-color);
    font-size: 0.95rem;
}

.dialog-content {
    display: flex;
    gap: 2rem;
    padding: 1.5rem;
    min-height: 300px;
    flex: 0;
    background: var(--light);
    font-size: 0.95rem;
}

.left-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #e0e0e0;
    padding-right: 2rem;
}

.thumbnail-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed var(--border-color);
    border-radius: 4px;
    padding: 1rem;
    min-height: 200px;
    background-color: var(--gray);
}

.thumbnail-container img {
    max-width: 100%;
    max-height: 100%;
    border: 1px solid var(--gray);
}

.right-section {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.dialog-footer {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    padding: 1.5rem;
    border-top: 1px solid var(--border-color);
    background: var(--gray);
    flex: 0;
}