.resize-section {
    background-color: var(--gray);
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
    padding: 0.5rem;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.resize-section-title {
    font-size: 1rem;
    font-weight: bold;
    display: inline-block;
}

.resize-section-checkbox {
    margin-right: 0.5rem;
}

.input-row {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.input-row label input {
    padding: 0.2rem;
    margin: 0 0.5rem;
}

.apply-btn {
    padding: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
