:root {
    /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-size: 1rem; */

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --light: #fefefe;
    --gray: #f5f5f5;
    --dark: #777;
    --darker: #333;
    --border-color: #eee;
    --border-color-dark: #ddd;
    --accent-color: var(--dark);
    --button-color: var(--dark);
    --button-hover-color: var(--darker);
}

strong {
    font-weight: 600;
}

h1{
    font-size: 1.5rem;
    line-height: 1.5;
}

h2{
    font-size: 1.2rem;
    line-height: 1.3;
}

h3{
    font-size: 1.1rem;
    line-height: 1.3;
}

input[type="number"]{
    width: 4rem;
    border: 1px solid var(--border-color-dark);
    border-radius: 4px;
    font-size: 1rem
}

input[type="checkbox"], input[type="radio"]{

    border: 1px solid var(--border-color-dark);
    border-radius: 4px;

    accent-color: var(--accent-color);
}

.btn{
    border-radius: 4px;
    border: 1px solid transparent;
    padding: 0.4em 0.8em;
    font-size: 1rem;
    font-weight: 600;
    font-family: inherit;
    background-color: var(--button-color);
    color: var(--light);
    cursor: pointer;
    transition: border-color 0.25s, background-color 0.25s;
}

.btn:hover:not([disabled]) {
    border-color: var(--border-color-dark);
    background-color: var(--button-hover-color);
}

.btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
