@import "../common.css";

#img-scaler-overlay {
    position: fixed; /* Stays in place relative to the viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); /* Semi-transparent black background */
    display: flex; /* Use flexbox to center its child */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    z-index: 1000; /* Ensure it's on top of other content */
}

.img-scaler-modal {
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    padding: 0;
    width: 80vh;
    height: 90vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    background: var(--light);
}

.img-scaler-modal::backdrop {
    background: rgba(0, 0, 0, 0.5);
}

.dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1.5rem;
    border-bottom: 1px solid var(--border-color);
    background: var(--gray);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.close-btn, .close-btn:hover{
    background: none;
    border: none;

    font-size: 1.5rem;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 0.75rem;

    cursor: pointer;
    color: var(--dark);

    width: 30px;
    height: 30px;
    margin:1rem;
}

.gallery-preview-section {
    /* padding: 1.5rem; */
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 200px;
    flex: 1 0 0;
}

.gallery-preview-section {
    flex-wrap: wrap;
    gap: 1rem;
}

.preview-image {
    max-width: 1000px;
    max-height: 500px;
    display: block;
    border: 1px solid var(--border-color);
}

.dimension-input-section {
    padding:  1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: var(--gray);
    border-bottom: 1px solid var(--border-color);
    margin: 3rem;
    flex: 0 0 0;
    border-radius: 1rem;
    box-shadow: 1rem 1rem 20px rgba(0, 0, 0, 0.2);
}

.dialog-footer {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 1rem;
    padding: 1rem 1.5rem;
    border-top: 1px solid var(--border-color);
    background: var(--gray);
    flex: 0 0 0;
    flex-wrap: wrap;
}
.dialog-footer > div {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}